<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>假期目录 - SimpleREG</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">SimpleREG 假期目录</a></h1>
                <p>欢迎你：<a href="#">{{ user.username }}</a></p>
                {% if holiday_list %}
                    <ul>
                    {% for holiday in holiday_list %}
                        <li><a href="{% url 'exeats:holiday_detail' holiday.id %}">{{ holiday.HolidayName }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>暂无假期.</p>
                {% endif %}
                <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></button>
                <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></button>
        </div>
    </div>
</div>
</body>
</html>