<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>假期目录 - SimpleREG</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">假期目录</a></h1>
                <p>欢迎你：<a>{{ user.StuName }}</a></p>
                {% if holiday_list %}
                    <ul>
                    {% for holiday in holiday_list %}
                        <li><h4><a href="{% url 'exeats:holiday_detail' holiday.id %}">{{ holiday.HolidayName }}</a></h4></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>暂无假期.</p>
                {% endif %}
                <button class="btn btn-default"><a href="{% url 'exeats:exeats' %}">返回上一级</a></button>
        </div>
    </div>
</div>
</body>
</html>